*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap');
:root{
    //theme 1
    --very-dark-desaturatedblue: hsl(222, 26%, 31%);
    --very-dark-desaturated-blue: hsl(223, 31%, 20%);
    --very-dark-desaturated-blue: hsl(224, 36%, 15%);
    //keys
    --desaturated-dark-blue: hsl(225, 21%, 49%);
    --desaturated-dark-blue: hsl(224, 28%, 35%);

    --red: hsl(6, 63%, 50%);
    --dark-red: hsl(6, 70%, 34%);

    --light-grayish-orange: hsl(30, 25%, 89%);
    --grayish-orange: hsl(28, 16%, 65%);
    //text
    --very-dark-grayish-blue: hsl(221, 14%, 31%);
    --white: hsl(0, 0%, 100%);
    font-family: 'League Spartan', sans-serif;



    //theme 2

    
    --light-gray: hsl(0, 0%, 90%);
    --grayish-red: hsl(0, 5%, 81%);
    --very-light-gray: hsl(0, 0%, 93%);

    // Keys

    --dark-moderate-cyan: hsl(185, 42%, 37%);
    --very-dark-cyan: hsl(185, 58%, 25%);

    --orange: hsl(25, 98%, 40%);
    --dark-orange: hsl(25, 99%, 27%);

    --light-grayish-yellow: hsl(45, 7%, 89%);
    --dark-grayish-orange : hsl(35, 11%, 61%);

    // Text

    --very-dark-grayish-yellow: hsl(60, 10%, 19%);
    --white: hsl(0, 0%, 100%);


    // Theme 3

// Backgrounds

--very-dark-violet: hsl(268, 75%, 9%);
--Very-dark-violet: hsl(268, 71%, 12%);

// Keys

--dark-violet : hsl(281, 89%, 26%);
--vivid-magenta : hsl(285, 91%, 52%);

--pure-cyan : hsl(176, 100%, 44%);
--soft-cyan : hsl(177, 92%, 70%);

--ver-dark-violet : hsl(268, 47%, 21%);
--dark-magenta: hsl(290, 70%, 36%);

// Text

--light-yellow: hsl(52, 100%, 62%);
--very-dark-blue: hsl(198, 20%, 13%);
--white : hsl(0, 0%, 100%);

}

.container{
    max-width: 540px;
    min-width: 335px;
    padding: 0 10px;
    margin: 5% auto;

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 36px;
        &__calc{
            font-size: 30px;
            font-weight: 700;
        }
        &__theme-selector{
            display: flex;
            column-gap: 30px;
            align-items: flex-end;
            &__tool{
                &__theme-number-wrapper{
                    display: flex;
                    flex-direction: column;
                    &__row{
                        text-align: center;
                      span{
                        margin-right: 10px;
                        font-size:12px;
                        font-weight: 700;
                      }
                      span:last-child{
                        margin-right: 0;
                      }
                    }
                    &__toggler{
                        width: 64px;
                        background-color: green;
                        height: 26px;
                        border-radius: 100px;
                        &__circle{
                            width: 16px;
                            height: 16px;
                            background-color: orange;
                            border-radius: 100px;
                            margin: 5px 5px ;
                        }
                    }
                }
            }
            &__theme{
            font-size: 12px;
            font-weight: 700;
            }

        }
    }

    &__scr{
        background-color: blue;
        width: 100%;
        padding: 41px 0;
        text-align: right;
        margin-bottom: 36px;
        &__text-wrapper{
        padding: 0 23px;
    
        p{
            font-size: 50px;
        }
        }

    }


    &__keyboard{
        
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        background-color: red;
        padding: 20px 0;
        gap: 20px;

    }
    
}

.button{
    max-width: 104px;
    min-width: 60px;
    width: 104px;
    border: 1px solid black;
    padding: 25px 0;
    p{
        text-align: center;
    }

}